
HLSDKTools/obj/Debug/HLSDKTools.Properties.Resources.resources
HLSDKTools/obj/Debug/HLSDKTools.pdb
HLSDKTools/obj/Debug/HLSDKTools.Form1.resources
HLSDKTools/obj/Debug/HLSDKTools.exe
HLSDKTools/obj/Debug/HLSDKTools.csproj.SuggestedBindingRedirects.cache
HLSDKTools/obj/Debug/HLSDKTools.csproj.GenerateResource.cache
HLSDKTools/obj/Debug/HLSDKTools.csproj.FileListAbsolute.txt
HLSDKTools/obj/Debug/HLSDKTools.csproj.CoreCompileInputs.cache
HLSDKTools/obj/Debug/HLSDKTools.csproj.AssemblyReference.cache
HLSDKTools/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HLSDKTools/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HLSDKTools/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HLSDKTools/bin/Debug/HLSDKTools.pdb
HLSDKTools/bin/Debug/HLSDKTools.exe.config
HLSDKTools/bin/Debug/HLSDKTools.exe
.vs/HLSDKTools/v17/.suo
*.vsidx
*.lock
